body {
    background-color: black;
    font-family: Verdana, sans-serif;
    text-align: center;
    color: lightgrey;
}

.score {
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
}

.right {
    margin-left: 40vw;
}

.left {
    margin-right:40vw;
}